@use "variables.scss";
@use "mixin.scss" as mx;
@use "functions.scss" as fn;
@use "animation";
@use "loaders";

.admin-container {

  width: 100%;
  min-height: 100vh;
  @include mx.transition("ease-in"); 
    @include mx.flex(row, flex-start, space-between);
}

.admin-header {
  width: 100%;
  .subheading {
    color: rgba(0, 0, 0, 0.854);
    margin-left: -4px;
  }
}

.sidebar {

  width: 220px;
  background-color: fn.color("adminBlue");
  min-height: 100vh;
  position: sticky;
  top: 0;
  left: 0%;
  font-family: fn.font("list");
    @include mx.flex(column, center, space-between);
  @include mx.transition("ease-in");
  &.agentbar {
    background-color: fn.color("black");
  }
  &.reduceBar {
   
    width: 60px;
     @include mx.transition("ease-out");
    li,
    span {
      display: none;
    }
  }
  ul {
    min-width: 100%;
    flex: 1;
    list-style: none;
    padding: 0;
    padding-top: 12px;
    .items {
      padding: 6px 10px;
    
      margin-block: 20px;
      margin-inline: auto;
      width: 90%; 
       @include mx.transition(300ms, ease-out);
      &.active {
       
        background-color: rgba(102, 195, 253, 0.217);
        border-radius: 6px; 
        @include mx.transition(300ms, ease-in);
        img {
          filter: brightness(1.2) contrast(0.8) saturate(2.4)
            drop-shadow(0 0 4px rgba(0, 0, 0, 0.427));
        }
      }
    }
    a {
    
      gap: 14px;
      color: white;
      text-decoration: none;
      font-weight: 500; 
       @include mx.flex(row, center, flex-start);
    }
    &:hover + .arrow {
      display:flex;
      @media (max-width: 768px) {
        display: none;
      }
    }
  }
  @media (max-width: 768px) {
    width: 60px;
    .arrow {
      display: none;
    }
    li,
    span {
      display: none;
    }
  }
  .adminLabel {
   
    gap: 10px;
    width: 100%;
    padding: 10px 8px;
    border-top: 1px solid rgba(255, 255, 255, 0.142);
     @include mx.flex(row, center, center);
    img {
      width: 30px;
      height: 30px;
      border-radius: 50%;
    }
    .adminDetails {
    
      width: 100%;
      word-break: break-all; 
       @include mx.flex(column, flex-start, center);
      span {
        width: 100%;
        font-size: 13px;
        color: rgb(255, 255, 255);
        &:nth-child(2) {
          font-size: 11px;
        }
      }
    }
  }
}

.admin-content-container {

  gap: 40px;
  padding-inline: 10px;
  padding-bottom: 10px;
  flex: 1;
  width: 80%;
  min-height: 100vh;
  overflow-x: hidden;
    @include mx.flex(column, center, flex-start);
}

.adminListings {
  .items { 
    width: 100%;
    padding: 10px;
     @include mx.shadow(0.1px);
    @include mx.flex(column, center, flex-start);
   
  }
}
