@keyframes blink {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.97);
  }
}

@keyframes comedown {
  0% {
    top: -20px;
  }
  100% {
    top: 0%;
  }
}

@keyframes comeup {
  0% {
    transform: translateY(50px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes fadeIn {
  from {
    left: 55%;
  }
  to {
    left: 5%;
  }
}

@keyframes rollBorder {
  0% {
    transform: rotate(0deg);
    border-color: rgb(58, 125, 233);
  }
  25% {
    transform: rotate(90deg);
    border-color: rgb(14, 91, 158);
  }
  50% {
    transform: rotate(180deg);
    border-color: rgb(44, 86, 169);
  }
  75% {
    transform: rotate(270deg);
    border-color: rgba(40, 135, 218, 0.982);
  }
  100% {
    transform: rotate(360deg);
    border-color: rgba(38, 75, 131, 0.936);
  }
}

@keyframes rollBorderWhite {
  0% {
    transform: rotate(0deg);
    border-color: rgb(255, 255, 255);
  }
  25% {
    transform: rotate(90deg);
    border-color: rgb(255, 255, 255);
  }
  50% {
    transform: rotate(180deg);
    border-color: rgb(203, 208, 218);
  }
  75% {
    transform: rotate(270deg);
    border-color: rgba(206, 214, 222, 0.982);
  }
  100% {
    transform: rotate(360deg);
    border-color: rgba(217, 220, 225, 0.936);
  }
}

@keyframes drawBorder {
  0% {
    width: 20%;
    height: 7%;
  }

  25% {
    width: 40%;
    height: 17%;
  }
  50% {
    width: 60%;
    height: 27%;
  }

  75% {
    width: 80%;
    height: 37%;
  }

  100% {
    width: 100%;
    height: 57%;
  }
}

/* Wobble effect (subtle shake) */
@keyframes wobbleEffect {
  0%,
  100% {
    transform: rotate(0.2deg) translateX(0.3px);
  }
  25% {
    transform: rotate(-0.3deg) translateX(-0.2px);
  }
  50% {
    transform: rotate(0.4deg) translateY(0.3px);
  }
  75% {
    transform: rotate(-0.2deg) translateY(-0.1px);
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotateReverse {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes slide-in-top {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.animation-rotate {
  animation: rotate 0.5s linear;
}

.animation-rotateReverse {
  animation: rotateReverse 0.5s linear;
}

.animation-slide-in-top-fast {
  animation: slide-in-top 0.5s linear;
}

.animation-slide-in-top-faster {
  animation: slide-in-top 0.3s linear;
}

.animation-slide-in-top-slow {
  animation: slide-in-top 1s linear;
}

@keyframes glassShine {
  0% {
    filter: brightness(1) drop-shadow(0 0 2px rgba(0, 0, 0, 0.021));
  }
  50% {
    filter: brightness(1.3) drop-shadow(0 0 0.4px currentColor);
  }
  100% {
    filter: brightness(1) drop-shadow(0 0 2px rgba(0, 0, 0, 0.084));
  }
}

.animate-glass {
  animation: glassShine 2.5s ease-in-out infinite;
  transition: all 0.3s ease;
}
