@use "sass:map";
@use "variables.scss";
@use "mixin.scss" as mx;
@use "functions.scss" as fn;

@function color($val) {
  @return map.get(variables.$color, $val);
}

// fonts
.headersFont {
  font-family: fn.font("list");
  font-weight: bolder;
}

input[type="number"] {
  -moz-appearance: textfield;
  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

.fullGrid {
  grid-column: 1/-1;
}
.otherCard {
  background-color: white;
}
#dot {
  visibility: hidden;
}

.timer {
  color: goldenrod;
  font-family: fn.font("headers");
}
.heading {
 color: fn.color("lightBlack");
  padding-left: 6px;
  margin-top: 10px;
  font-size: 22px;
  font-weight: bold;
  font-family: fn.font("headers");
}
.subheading {
  position: relative;
  font-size: 20px; 
  color: fn.color("lightBlack");
  font-weight: bold;
  font-family: fn.font("headers");
   @extend .heading;
}
.otherHead {
  color: fn.color("lightBlack");
}
.title_heading {
  opacity: 90%;
  width: 100%;
  margin-left: -5px;
  text-transform: capitalize;
  @include mx.flex(column, center, center);
   @extend .subheading;
 
}

.address {
  gap: 6px;
  padding-left: 6px;
  word-wrap: break-word;
  white-space: pre-wrap;
  position: relative;
  margin-top: 6px;
  opacity: 60%;
  width: 100%;
    @include mx.flex(row, center, flex-start);
}
.navSmall {
  @media (min-width: 800px) {
    display: none;
  }
}
.smallScreen {
  @media (min-width: 900px) {
    display: none !important;
  }
}

.largeScreen {
  @media (max-width: 899px) {
    display: none !important;
  }
  &:has(div) {
    margin-inline: auto;
  }
}
.currency,
.bigNum {
  font-family: fn.font("headers");
  font-size: 25px;
  color: fn.color("wheat");
  @include mx.center();
}
.description {
  overflow-wrap: break-word;
  white-space: pre-wrap;
}

.smallNum {
  @extend .currency;
  font-size: 13px;
  font-weight: bold;
}
//Swiper
.swiper {
  position: relative !important;
}
.swiper-pagination {
  bottom: -1px !important;
}

.swiper-pagination-bullet {
  transition: 300ms ease-in-out;
  background-color: white !important;
  top: 20% !important;
  opacity: 70% !important;
}
.swiper-pagination-bullet-active {
  transition: 300ms ease-out;
  transform: scale(1.5);
  opacity: 100% !important;
}

.swiper-button-next,
.swiper-button-prev {
  visibility: hidden !important;
}


// featured swiper
.featured {
  .swiper-pagination {
  bottom: 0px !important;
  padding-block: 4px;
}
.swiper-pagination-bullet {
  transition: 300ms ease-in-out;
  background-color: rgb(255, 255, 255) !important;
  top: 20% !important;
  width: 15px !important;
  height: 15px !important;
}
.swiper-pagination-bullet-active {
  transition: 300ms ease-out;
  transform: scale(1.5);
}

}




// .itemHide {
//   visibility: hidden !important;
// }

//Buttons
button {
  cursor: pointer;
}
a:has(.clickable) {
  text-decoration: none;
}

.clickable {
  transition: transform 0.1s ease-in-out, box-shadow 0.1s ease-in-out;
  &:active {
    transform: scale(0.95);
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  }
}
.directional {
  gap: 10px;
  text-transform: capitalize;
  font-family: fn.font("body2");
  position: relative;
  height: 40px;
  overflow: hidden;
    @include mx.flex(row, center, center);
  .left {
    left: 0;
  }
  .right {
    left: 70%;
  }
  span {
    isolation: isolate;
  }
  &:has(.left:hover) {
    &::before {
      display: none;
    }
    .left {
      width: 100%;
      background-color: rgba(0, 0, 0, 0.244);
      @include mx.transition(400ms);
    }
  }
  &:has(.right:hover) {
    &::before {
      display: none;
    }
    .right {
      width: 100%;
      left: 0;
      background-color: rgba(0, 0, 0, 0.244);
           @include mx.transition(400ms);
    }
  }
  &:hover {
    &::before {
      width: 100%;
      left: 0;
      background-color: rgba(0, 0, 0, 0.244);
    }
  }
  &::before,
  .left,
  .right {
    content: "";
    position: absolute;
    background-color: transparent;
    width: 30%;
    height: 100%;
    border-radius: 8px;
    @include mx.transition(400ms, ease-out);
  }
}

.darkblueBtn {
  gap: 10px;
  background:linear-gradient(135deg, #0440c8, #032679);;
  color: fn.color("white");
  border-radius: 8px;
  cursor: pointer;
    @include mx.flex(row, center, center);
  @include mx.transition("ease-in");
  &:hover {
   
    transform: scale(1.009);
     @include mx.transition("ease-out"); 
  }
}

.blueBtn {
  border-radius: 8px;
  background-color: fn.color("blue");
  color: fn.color("white");
    @include mx.flex(row, center, center);
}

.btnCover {
  .darkblueBtn {
    width: 100%;
  } 
}

.openMap {
  width: clamp(150px, 300px, 400px);
}
.largeScreenBtn {
 
  width: 66%;
  margin-top: 20px;
  margin-bottom: 10px;
   @include mx.flex(row, center, center);
}

//Agent

.agent {

  gap: 10px;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
    @include mx.flex(row, center, center);
  span {
    color: fn.color("darkblue");
  }
  img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    outline: 1px solid rgba(42, 42, 44, 0.906);
  }
}

//Form
.form_container {
 
  width: 100%;
  height: 80vh;
  padding-bottom: 10px;

 
  @media (min-width: 1200px) {
    gap: 20px;
  }
  &.listing {
    margin-top: -10px;
  }
}
.form {

   margin-block:auto;
  gap: 10px;
  border-radius: 14px;
  padding: 4px 20px;
  @include mx.flex(column, center, center);
  label {
    opacity: 50%;
  }
  input,
  select,
  textarea {
   
    width: 98%;
    padding: 12px 10px;
    border-radius: 4px;
    border: 0;
    outline: 1px solid fn.color("darkblue");
     @include mx.transition(140ms, ease-out);
    &:focus {
  
      outline-width: 2px; 
         @include mx.transition(150ms);
    }
    // &::backdrop {
    //   background-color: fn.color('blue');
    // }
  }
  select {
    padding: 15px 10px;
  }
  textarea {
    padding-bottom: 24px;
  }
}

.bottom {
  font-family: fn.font("body2");
  margin-inline: auto;
  background-color: fn.color("white");
  margin-top: auto;
  padding: 10px 6px 6px;
  width: 100%;
  padding: 16px;
  border-radius: 10px;
  .info {
    
    flex-wrap: wrap;
    gap: 6px;
    width: 100%;
    margin-bottom: 10px;
    @include mx.flex(row, center, center);
    button {
      margin-top: 20px;
      border: 0;
      outline: 0;
    }
  }
  a {
    color: fn.color("darkblue");
  }
  .clickable {
 
    width: 300px !important;
    margin-inline: auto;
    margin-bottom: 10px;
       @include mx.flex(row, center, center);
  }
}

.typeOfAccount {

  min-width: 100%;
  background-color: fn.color("darkblue");
  color: fn.color("white");
  font-family: fn.font("list");
  padding: 16px;
  text-transform: capitalize;
  font-weight: 650;
  border-radius: 0px 0px 30px 30px;
  @include mx.flex(row, center, center);
}

//Boards And Modals

.board {
  border-radius: 20px;
  min-width: 90%;
  min-height: 80vh;
  padding: 6px;
  .types {
   
    gap: 12px;
    width: 100%;
     @include mx.flex(row, center, center);
    @media (max-width: 749px) {
      @include mx.flex(column, center, center);
    }
    .clickable {
     
      width: 300px;
      padding: 25px;
       @include mx.flex(row, center, center);
    }
  }
}

//Notifications

.notification {
  position: fixed;
  left: 5%;
  top: 11%;
  z-index: 200;
  display: none;
  background-color: black;
  color: #fff;
  padding: 0.8rem 1.5rem;
  border-radius: 6px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.199);
  overflow: hidden;
  font-family: fn.font("headers");
  // margin-top: 100px;
  margin-inline: auto;
  width: 90%;
  animation: fadeIn 300ms ease-out;

  &:is(.success) {
  background-color: var(--color-darkGray);
    // &__progress {
    //   background: white;
    // }
  }
  &:is(.danger) {
    background-color: darkred;
    //  &__progress {
    //   background: white;
    // }
  }
  &:is(.warning) {
    background-color: rgb(209, 163, 0);
    // &__progress {
    //   background-color: white;
    // }
  }
  &:is(.active) {
    @include mx.flex(row, center, space-between);
  }
  img {
    cursor: pointer;
  }

  &__content {
    font-size: 1rem;
  }
  &__progress {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 4px;
    background: fn.color("white");
    transition: width 0.1s linear;
    border-radius: 6px 6px 60px 60px;
  }
    @media (min-width: 790px) {
    width: 50%;
  }
}

.blackboard {
  z-index: 100000;
  isolation: isolate;
  background-color: fn.color("black");
  color: white;
  padding: 10px;
  width: 100%;
  min-height: 100vh;
  position: fixed;
  .blackboardItems {
    margin-top: 200px;
    gap: 10px;
     @include mx.flex(column, center, center);
    & > * {
      color: white;
    }
  }
}

//dropdowns
.triangle {
  @include mx.transition(200ms, ease-in);
  &.active {
   
    transform: rotate(360deg);
     @include mx.transition(200ms, ease-out);
  }
}

.quickLink {
  color: rgb(30, 104, 201);
}

.listingInfoTooltip {
  &:hover {
    &::after {
      content: "Listing Guide";
      @include mx.center();
    }
  }
}

.writeName {
  font-weight: bold;
  font-family: fn.font("write");
  font-size: 40px;
  font-style: oblique;
  animation: writeName 2s ease-in-out;
  white-space: nowrap;
  overflow: hidden; /* optional: prevents stretching */
  display: inline-block;
}

@keyframes writeName {
  from {
    /* opacity: 0; */
    width: 0%;
  }

  to {
    /* opacity: 1; */
    width: 100%;
  }

}

.hero {
  background-color: fn.color("darkblue");
  padding-block: 0;
}


//  'blue': #0874c7,
//      'darkblue': #0874c7,
//      'adminBlue':#154d86,

// .showPriority {
//   z-index: 1000000;
// }
