html:is(.dark) {
    .popularList {

&::-webkit-scrollbar-thumb {
  background: rgb(179, 179, 179);
  border-radius: 30px;
}

&::-webkit-scrollbar-thumb:hover {
background:white;
}

&::-webkit-scrollbar-track {
  background: transparent;
}
}
   
  .loader {
    color: white;
  }
  body {
    background-color: color('darkModePrimary');
    color:white;
  }

  // nav

  .nav {
      box-shadow: 0 4px 20px rgba(0, 0, 0, 0.317);
  }
  .nav,.nav_items,footer {
    background-color:color('darkModeSecondary');
    color: white;
    .goUp {
      background-color: black;
    }
  } 
  .logo {
    color: color('coffee');
    &::after,
    &::before {
    background-color: color('coffee');
    }
  }
  
  .nav_items {
      a,span {
      color: white;
       &::after {
        background-color: color("coffee");
       }
     }
    }
    
     .activeNav {
      .toggle_nav{
       .toggle_items:nth-child(2) {
        border: 4px dashed white;
        animation: rollBorderWhite 5s ease-in-out infinite;
      }
     }
    }
  .toggle_items {
        background-color: color('coffee');
      }
    .subheading, .heading {
    color: white;
  }

// card
  .card_list {
  background-color: rgba(37, 37, 37, 0.146);
}
 .card {
  
     background-color: color('black');
  
  
      &:hover {
    &::after {
    //   background:color('wheat');
    background-color: white;
    }
  } 
    .body {
       background-color: color('darkModeSecondary');
       .address {
        &:after {
          background-color: color('coffee');
        }
       }
    }
  .school {
    
    color: white;
    background-color: rgba(33, 36, 46, 0.546);
    }
  
  
}


.popularCard, .pagination {
  background-color: color('darkModeSecondary');
}


.single_card, .user-card {
  background-color: color('darkModeSecondary');
}
.single_card {
    .header {
    .house {
      .arrow {
  &:active {
    background-color: color('coffee');
  }
}
    }
  }
}
.featured_container {
  .card {
    .tag.price {
      background-color: rgba(27, 27, 27, 0.936);
    }
  }
}


    // forms 
    .form_container {
   background-color: transparent;
   .typeOfAccount {
    background-color: color('coffee');
   }
    }
.form {

  label {
    opacity: 90%;
    color: white;
  }
  input {
    outline-color: white;
    color: white;
  }
 
  .general_details,
  .agent_details, .bottom {
    background-color: color('darkModeSecondary');
    color: white;
  } 
  }
.board {
    background-color: color('darkModeSecondary');
    color: white;
}
.editSide {
    background-color: color('darkModeSecondary');
    color: white;
    @include shadow(0.5px);
    outline: 4px solid rgba(20, 20, 20, 0.447);
}


// dashboard

  .adminDashboard_content {
  .content_item {
  background-color: color('darkModeSecondary');
  @include shadow(0.1px,0.5px, rgba(219, 219, 219, 0.897));
}
.barchart {
  @include shadow(0,0);
}
  }


.agentProfile,.listingHistory, .availableLists
   {
     background-color: color('darkModeSecondary');
     color: white;
     .agentName {
        color:white;
     }
    }

.currency {
  color: color('coffee')
}

.txt {
  &:after {
    background-color: color('coffee');
  }
}

.quickLink {
  color: rgb(211, 184, 47);
}

.swiper-pagination-bullet {
  background-color: color("coffee") !important;
}
.singleCardCon {
  background-color: color('darkModeSecondary');
}
.agentCardName {
  color: color('coffee');
}


// homepage

.otherCard {
  background-color: color('darkModeSecondary');
}
.otherHead {
  color: white;
}
.hero {
  background-color: color('coffee');
  div,h1 {
    color: white;
  }
}
.featured {
  background-color: color('coffee');
}


// buttons
 .darkblueBtn {
  background-color: color('coffee'); 
 }
}

.verify {
  .inputContainer {
  input {
  color: rgb(255, 255, 255);
}
}
}