@use "variables.scss";
@use "mixin.scss" as mx;
@use "functions.scss" as fn;
@use "animation" as animation;
@use "loaders";

.agentDashboardContainer {
  color: black;
  width: 100%;
  // margin-top: 70px;
  margin-bottom: 16px;
  gap: 20px;
  @include mx.flex(column);
  @media (max-width: 769px) {
    .card,
    .editSide {
      transform: scale(0.9);
    }
  }
  &.aic {
    .lists {
      gap: 15px;
      width: 97%;
      background-color: white;
      border-radius: 8px;
      @include mx.space(0, 20px);
      @include mx.flex(column, flex-start);
      @include mx.shadow();
      a {
        color: fn.color("blue");
        text-decoration: none;
      }
    }
  }

  .listingHistory,
  .availableLists {
    background-color: fn.color("white");
    width: 97%;
    border-radius: 8px;
    @include mx.space(8px, 12px);
  }

  .agentProfile {
    background-color: white;
    border-radius: 20px;
    padding-inline: 20px;
    width: 97%;
    @include mx.space(1px, 8px);
    @include mx.shadow(0.1px);
    .agentName {
      color: fn.color("darkblue");
      font-size: 30px;
      font-weight: 600;
    }
    .address {
      width: 100%;

      gap: 6px;
      @include mx.flex(row, center, flex-start);
      span:nth-child(2) {
        @include mx.center();
      }
      span:nth-child(3) {
        white-space: pre-wrap;
        word-break: break-all;
        @include mx.center();
      }
    }
  }
  .listingHistory {
    background-color: white;
    width: 99%;
    @media (min-width: 700px) {
      gap: 20px;
      @include mx.flex(row, center, flex-start);
    }
    @include mx.flex(column, center, flex-start);
    .item {
      // @include mx.center();

      gap: 10px;
      width: 100%;
      @include mx.flex(row, flex-start, space-between);
    }
    span {
      text-transform: capitalize;
      width: 40%;
      text-align: center;
    }
    strong {
      width: 20%;
      // align-self: center;
    }
  }
  .availableLists {
    flex-wrap: wrap;
    @include mx.flex(row, center, center);
    .header {
      width: 100%;
      padding-bottom: 10px;
      @include mx.flex(row, center, space-evenly);
      .subheading {
        cursor: pointer;
        position: relative;
        &::after {
          content: "";
          position: absolute;
          width: 135px;
          height: 3px;
          border-radius: 10px;
          background-color: fn.color("goldPrimary");
          bottom: -4px;
          left: 0;
          opacity: 0;
          @include mx.transition(300ms, ease-out);
        }
        &.active {
          &::after {
            opacity: 100%;
            @include mx.transition(300ms, ease-in);
          }
        }
      }
    }
  }
}

.cardContainer {
  position: relative;
  @include mx.flex(column, center, flex-start);
}

.editSide {
  width: 90%;
  margin-top: -25px;

  gap: 20px;
  background-color: rgb(255, 255, 255);
  padding: 4px 6px;
  border-radius: 0 0px 20px 20px;
  @include mx.flex(row, center, center);
  @include mx.shadow(1px, 1px);
  @include mx.transition(300ms, ease-out);
  @media (max-width: 768px) {
    margin-top: -44px;
  }
  img:hover {
    border: 1px solid transparent;
    filter: grayscale(100%);
    cursor: pointer;
    @include mx.transition(300ms);
  }
}

.addListing {
  padding: 26px 0;
  border-radius: 18px;
  width: 100%;
  gap: 10px;
  @include mx.center();

  .clickable {
    border-radius: 50%;
  }
}

.adminDashboard {
  width: 100%;
  @include mx.flex(column, center, flex-start);
}

.adminDashboard_content {
  // display: grid;
  // justify-content: center;
  // align-content: center;
  gap: 20px;
  row-gap: 20px;
  margin-top: 20px;
  // grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
  width: 100%;

  .content_item {
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 20px;
    width: 90%;
    margin-inline: auto;

    @include mx.shadow(0.1px, 0.5px, rgba(0, 0, 0, 0.226));
  }

  .banner {
    gap: 6px;
    @include mx.flex(column, center, center);
    .text {
      position: relative;
      padding: 10px;
      font-weight: bold;
      font-family: fn.font("number");
      color: fn.color("goldPrimary");
      font-size: 16px;

      width: 80px;
      height: 80px;
      border-radius: 50%;

      @include mx.center();
      span {
        position: relative;
        display: block;
        width: 100%;
        border-radius: 50%;
        text-align: center;
      }
      &::before {
        content: "";
        position: absolute;
        display: block;
        width: 100%;
        height: 100%;
        top: 0%;
        left: 0%;
        border-radius: 50%;
        padding: 20px;
        background: radial-gradient(circle, rgba(255, 255, 255, 0.934) 40%, #f2f3f3f5 100%);
        border: 9px solid fn.color("goldPrimary");
        border-top-color: fn.color("lightgold");
        animation: spin 8s linear infinite;
      }
      html.dark &::before {
        background: radial-gradient(circle, rgba(0, 0, 0, 0.484) 40%, #00000042 100%);
      }
    }
    &.danger {
      .text {
        color: #e01414;
        &::before {
          border: 9px solid #e01414;
          border-top-color: rgba(239, 167, 167, 0.909);
        }
      }
    }
  }
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  .barchart {
    width: 100%;
    grid-column: 1/-1;
    background-color: rgb(255, 255, 255);
    @include mx.shadow(0, 0);
    @media (min-width: 1000px) {
      display: none;
    }
    &.large {
      display: none;
      @media (min-width: 1000px) {
        display: block;
      }
    }
  }
}

.adminListingCard {
  .editSide {
    @media (max-width: 768px) {
      margin-top: -28px;
    }
  }
}
