@import "variables.scss";
@import "mixin.scss";
@import "functions.scss";
@import "animation";
@import "loaders";

.agentDashboardContainer{
 
  @include flex(column);
  color: black;
  width: 100%;
  // margin-top: 70px;
  margin-bottom: 16px;
  gap: 20px;
  @media(max-width:769px) {
  .card,.editSide {
    transform: scale(0.9);
  }
}
  &.aic {
    .lists {
      @include flex(column, flex-start);
      gap: 15px;
      width: 97%;
      background-color: white;
      @include space(0, 20px);
      border-radius: 8px;
      @include shadow();
      a {
        color: color("blue");
        text-decoration: none;
      }
    }
  }
  .agentProfile,
   .listingHistory,
  .availableLists {
    background-color: color("white");
    width: 97%;
    @include space(10px, 12px);
    @include shadow;
    border-radius: 8px;
  }

  .agentProfile {
    @include shadow(0.2px);
    border-radius: 20px;
    padding-inline: 20px;
    .agentProfilePic {
      width: 100px;
      border-radius: 50%;
      img {
        border: 1px solid rgba(46, 74, 98, 0.381);
        border-radius: 50%;
        @include shadow(0.6px);
      }
    }
    .agentName {
      color: color("darkblue");
      font-size: 30px;
    }
    .address {
      @include flex(row, center, flex-start);
      gap: 6px;
      span:nth-child(2) {
        @include center();
      }
      span:nth-child(3) {
        @include center();
        white-space: pre-wrap;
        word-break: break-all;
      }
    }
  }
  .listingHistory {
    width: 99%;
    @media (min-width: 700px) {
      @include flex(row, center, flex-start);
      gap: 20px;
    }
    @include flex(column, center, flex-start);
    .item {
      // @include center();
      @include flex(row, flex-start, space-between);
      gap: 10px;
      width: 100%;
    }
    span {
      text-transform: capitalize;
      width: 40%;
      text-align: center;
    }
    strong {
      width: 20%;
      // align-self: center;
    }
  }
  .availableLists {
    @include flex(row, center, center);
    flex-wrap: wrap;
    .header {
      @include flex(row, center, space-evenly);
      width: 100%;
      padding-bottom: 10px;
      border-bottom: 2px solid color("fade");
      .subheading {
        cursor: pointer;
        position: relative;
        &::after {
          @include transition(300ms, ease-out);
          content: "";
          position: absolute;
          width: 135px;
          height: 3px;
          border-radius: 10px;
          background-color: color("wheat");
          bottom: -4px;
          left: 0;
          opacity: 0;
        }
        &.active {
          &::after {
            @include transition(300ms, ease-in);
            opacity: 100%;
          }
        }
      }
    }
  }
}
.cardContainer {
  position: relative;
  @include flex(column, center, flex-start);
}
.editSide {
  @include transition(300ms, ease-out);
  width: 90%;
  margin-top: -25px;
  @include flex(row, center, center);
  gap: 20px;
  background-color: color("white");
  padding: 4px 6px;
  border-radius: 0 0px 20px 20px;

  @include shadow(1px, 1px);
   @media (max-width:768px) {
    margin-top: -45px;
  }
  img:hover {
    @include transition(300ms);
    border: 1px solid transparent;
    filter: grayscale(100%);
    cursor: pointer;
  }
}
.addListing {
  padding:26px 0;
  border-radius: 18px;
  width: 100%;
  @include center();
  gap: 10px;
  .clickable {
    border-radius: 50%;
  }
}


.adminDashboard {
@include flex(column, center, flex-start);
  width: 100%;
  .adminDashboard_content {
    display: grid;
    justify-content: center;
    align-content: center;
    gap: 20px;
    row-gap: 20px;
    column-gap: 20px;
    margin-top: 20px;
    grid-template-columns: repeat(auto-fill,minmax(350px,1fr));
    width: 100%;;
      .content_item {
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  padding: 20px;

  @include shadow(1px, 1px);
 }

 .banner {
  @include flex(column, center, center);
  gap: 6px;
   .text{
    position: relative;
    padding: 10px;
     font-weight: bold;
     font-family: font('number');
     color: color("wheat");
    font-size: 20px;
    @include center();
    width: 80px;
    height:80px;
    border-radius: 50%;
 background-color: white;
//  z-index:1;
    span{
      position: relative;
      display: inline-block;
   width: 100%;
   border-radius: 50%;
   text-align: center;
   background-color: white;
    }  
    &::before {
      content: "";
      position: absolute;
      display: block;
      width: 100%;
      height: 100%;
      top: 0%;
      left:0%;
      border-radius: 50%;
      padding: 20px;    
      background: radial-gradient(circle, rgb(255, 255, 255) 40%, #f2f3f3 100%);
      border: 9px solid color("wheat");
      border-top-color: color("lightWheat");
      // border-top-color:transparent ;
       animation: spin 8s linear infinite;

   }
   }
 
 }
 @keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
 .barchart {
  grid-column: 1/-1;
  background-color: rgb(255, 255, 255);
  @media (min-width: 1000px) {
    display:none;
  }
  &.large {
    display: none;
    @media (min-width: 1000px) {
      display:block
    }
  }
 }
  }

}
