@mixin flex($direction, $align: center, $justify: flex-start) {
    display: flex;
    flex-direction: $direction;
    align-items: $align;
    justify-content: $justify;
  }

  @mixin transition($duration: 300ms, $type: ease-in, $items:all) {
    transition: $items $duration $type;
  }
  
  @mixin space($margin:10px , $padding: 10px) {
    margin: $margin;
    padding: $padding;
  }

  @mixin shadow($x:2px,$y:2px) {
    box-shadow: $x $x $y $y rgba(116, 116, 116, 0.269);
  }

  @mixin center() {
    @include flex(row,center,center);
  }