@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Quicksand:wght@300..700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Funnel+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sulphur+Point:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cascadia+Code:ital,wght@0,200..700;1,200..700&family=Tangerine:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tourney:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,400..900;1,300..900&display=swap');

$header : "Figtree", sans-serif;
$list : "Quicksand", sans-serif;
$body:"Cascadia Code", sans-serif;
$body2: "Sulphur Point", sans-serif;
$card: "Sulphur Point", sans-serif;
$price: "Darker Grotesque", sans-serif;
$price2: "Tourney", sans-serif;
$write:  "Tangerine", cursive;
$fonts: (
     'headers': $header,
     'body': $body,
     'list': $list,
     'body2': $body2,
     'card': $card,
     'price': $price,
     'write':$write,
     'price2':$price2,
     );


$color: ( 
     'coffee': #032679,
     'darkModePrimary':#1E1E1E ,
     "darkModeTertiary": #1e1e1ed6 ,
     'darkModeSecondary':#31363F,
     'dark':#2f2d2d,
      'black': #292a2a,
      'blue': #0881a3,
     'darkblue': #032679,
     'adminBlue':#154d86,
     'white': #fffdfb,
     'deepWhite':rgb(245, 245, 245),
     'lightWheat': #fde9df,
     'wheat': #f29829,
     'fade': rgba(78, 78, 78, 0.42) ,
     'error':rgb(197, 12, 12),
     'lightBlack': #374151 ,
     'ghost': rgba(240, 239, 238, 0.292),
);

// 'coffee': #A88F6E,
// 'darkblue': #0874c7,
//     'darkModePrimary':#393E46 ,
