@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Quicksand:wght@300..700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Funnel+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sulphur+Point:wght@100...900&display=swap");
@import "tailwindcss";
@import "tw-animate-css";
@import "swiper/css";
@import "swiper/css/navigation";
@import "swiper/css/pagination";

/* @import './styles/variables.scss'; */
/* @import './styles/functions.scss'; */

@custom-variant dark (&:is(.dark *));

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-navBorderColor: #e5e7eb;
  --color-coffee: #032679;
  --color-darkGray: #31363f;
  --color-darkblue: #032679;
  --color-bluePrimary: #0881a3;
  --color-goldPrimary: #f29829;
  --color-greenPrimary: oklch(62.7% 0.194 149.214);
}

@theme fonts {
  --font-head: "Outfit", sans-serif;
  --font-list: "Quicksand", sans-serif;
  --font-card: "Sulphur Point", sans-serif;
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
  --color-navBorderColor: #4b5563;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }

  :root {
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .dark {
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer line {
  .smallLine {
    @apply after:content-[''] after:absolute dark:after:bg-gray-300/90 after:bg-blue-200/90
      after:w-15 after:h-0.5 after:rounded-md after:bottom-0 after:right-0;
  }
  .middleLine {
    @apply after:content-[''] after:absolute dark:after:bg-gray-100/80 after:bg-blue-300
      after:w-15 after:h-0.5 after:rounded-sm after:bottom-0 after:right-15;
  }
}
@layer effects {
  .smallScale {
    @apply hover:scale-98 hover:ease-out hover:duration-300 ease-in transition-all duration-300;
  }
  .mediumScale {
    @apply hover:scale-95 hover:ease-out hover:duration-300 ease-in transition-all duration-300;
  }
  .smallScaleUp {
    @apply ease-in hover:scale-104 transition-transform duration-300 hover:ease-out hover:duration-300;
  }
  .tooltip-above {
    @apply after:animate-none after:top-[-110%] after:left-[-550%] after:absolute hover:after:w-50 hover:after:h-8 hover:after:bg-gray-600 dark:hover:after:bg-white hover:after:rounded-sm;
  }
  .custom-shadow {
    @apply shadow-[0_3px_3px_rgba(0,0,0,0.168),0_-1.69px_1.5px_rgba(0,0,0,0.1)]
         dark:shadow-[0_3px_3px_rgba(0,0,0,0.8),0_-1.69px_1.5px_rgba(0,0,0,0.6)];
  }
}

@layer scrollbar {
  .scrollable-2::-webkit-scrollbar,
  .scrollable-2 {
    scrollbar-width: auto;
  }
  .scrollable-2::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }

  .scrollable-2::-webkit-scrollbar-thumb {
    cursor: pointer;
  }
  .scrollable-4::-webkit-scrollbar,
  .scrollable-4 {
    scrollbar-width: auto;
  }
  .scrollable-4::-webkit-scrollbar {
    width: 4px;
    height: 8px;
  }

  .scrollable-8::-webkit-scrollbar,
  .scrollable-8 {
    scrollbar-width: auto;
  }
  .scrollable-8::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  .scrollable-20::-webkit-scrollbar {
    width: 20px;
    height: 20px;
  }

  /* -- Scrollbar thumb colour utilities -- */
  .scrollable-color::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgba(96, 96, 96, 0.571);
  }
}
